@import "tailwindcss";

@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
/* inter font */
.inter{
  font-family: "Inter", sans-serif;
}



.main{
  max-width: 1440px;
  padding: 32px 160px;
}

